<% @showcase.comments.each do |comment| %>

<div>
<p>



  <b>User:</b>
  <%= comment.user.username %>
</p>

<p>
  <b>Showcase:</b>
  <%= comment.showcase.id %>
</p>

<p>
  <b>Content:</b>
  <%= comment.content %>
</p>

<%= link_to 'Edit', edit_comment_path(comment) %>
</div>
<% end %>