
<div class="stats">



             <ul class="list-group">
              <a href="">
                <li class="list-group-item">
                  <span class= "badge"> 
                            <strong id="likes" class="stat">
                              <%= @showcase.likes.count %>      
                            </strong>
                  </span>
                  Likes
                </li>
              </a>
                
              </ul>
  
</div>