<% unless current_user?(@user) %>
  <div id="like_form" class="hstack">
  <% if current_user.likes?(showcase) %>
    <%= render 'shared/unlike', :showcase => showcase %>
  <% else %>
    <%= render 'shared/like', :showcase => showcase %>
  <% end %>
  </div>
<% end %>	