<% @user ||= current_user %>
<div class="stats">



             <ul class="list-group">
              <a href="<%= followers_user_path(@user) %>">
                <li class="list-group-item">
                  <span class="badge"> 
                            <strong id="followers" class="stat">
                              <%= @user.followers.count %>      
                            </strong>
                  </span>
                  Followers
                </li></a>
                <a href="<%= following_user_path(@user) %>">
                 <li class="list-group-item">
                  <span class="badge">
                    <strong id="following" class="stat">
                      <%= @user.followed_users.count %></span>
                    </strong>
                  following
                </li>
                </a>
              </ul>
  
</div>
