
<p>
  <%= @gallery.description %>
</p>

<div id= "likeable_list">
<%= render 'shared/showcase_list' %>
</div>

<div class= "col-md-12 panel">
<ttitle>Submit new artwork </ttitle>
<% if @user == current_user %>
<%= render 'shared/showcase_form' %>
<%end %>

</div>



