
<p>
  <%= @gallery.description %>
</p>


<%= render 'shared/showcase_list' %>


<div class= "col-md-12 panel">
<ttitle>Submit new artwork </ttitle>
<% if @user == current_user %>
<%= render 'shared/showcase_form' %>
<%end %>

</div>



