ttitle{
    color: #7094FF;
    font-size: 1.8em;
    font-weight: bold;

}

minititle {

    color: #7094FF;
    font-size: 1.2em;
    font-weight: bold;


}

.centered {

    text-align: center;
}

#loginbutton {

    background-color: blue;
    
}

#mainav {

	margin-bottom: 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
  

}

.tb {
    text-align: center;
    color: #7094FF;
    font-weight:bold;

}

lside {

	text-align: left;
	border-width: 2px;


}
.centerpane {

	width: 50%
}
.thumbpic {
        text-align:center;


     width: 100%;
     height: auto;
}

.thumbimg {
      max-width: 100%;
    height: auto;


}

.panelmain {
	margin-top: 0px;
	padding: 25px 50px;
    height: 90%;
	background-color: #BDBDBD;

}

.image_div {
    
     background-position: center
}
.user_avatars {
  overflow: auto;
  margin-top: 10px;

}
